alias wifi-up="sudo ip link set wlp58s0 up"
alias wifi-restart="sudo rfkill ublock wifi; sudo rfkill unblock all"

alias add-monitor="xrandr --output DP-1 --auto; xrandr --output eDP-1 --left-of DP-1"
